@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.about {
    background-color: rgb(255, 251, 242)
}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-title {
    font-size: 7rem;
    color: #243cb9;
    font-family: 'Playfair Display', serif;
    margin-left: 7rem;
}

.about-text {
    color: rgb(95, 95, 95);
    font-family: 'Muli', serif;
    font-size: 18px;
    width: 500px;
    margin-left: 10rem;
    line-height: 2;
    margin-top: 2rem;
}

.about-picture {
    margin-left: 20rem;
    margin-top: 2rem;
}

.picture-of-me {
    width: 286px;
    height: 367px;
}