.about {
    background-color: var(--main-white);
    height: 100vh;

}

.about-content {
    display: flex;
    flex-direction: row;
}

.about-title {
    font-size: 7rem;
    color: var(--main-blue);
    font-family: var(--main-heading-font);
    margin-left: 7rem;
}

.about-text {
    color: var(--main-grey);
    font-family: var(--main-text-font);
    font-size: 18px;
    width: 500px;
    margin-left: 10rem;
    line-height: 2;
    margin-top: 2rem;
}

.about-picture {
    margin-left: 20rem;
    margin-top: 2rem;
}

.picture-of-me {
    width: 286px;
    height: 367px;
}

.about-links {
    color: var(--main-grey);
    font-family: var(--main-text-font);
    font-size: 18px;
    display: flex;
    margin-left: 1.5rem;
}

.about-link {
    color: var(--main-grey);
    text-decoration: none;
    transition: font-weight 0.5s ease;
}

.about-link:hover {
    cursor: pointer;
    font-weight: bold;
}

.about-icon {
    margin-right: 3.5rem;
}