.contact {
    background-color: var(--main-pink);
    height: 47rem;
}

.contact-title {
    font-size: 7rem;
    color: var(--main-white);
    font-family: var(--main-heading-font);
    margin-left: 7rem;
}

.contact-layout {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 9rem;  
}

.contact-item {
    color: var(--main-white);
    background-color: var(--main-orange);
    font-family: var(--main-text-font);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    min-width: 210px;
    min-height: 210px;
    padding: 25px;
    border-radius: 50%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.5s ease-in-out;
}

.contact-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    cursor: pointer;
}

.contact-content {
    padding-top: 2.5rem
}


.contact-link {
    text-decoration: none;
    color: var(--main-white)
}

@media(max-width: 815px) {

    .contact-title {
        margin-left: 11rem;
    }
    .contact-layout {
        margin-top: 2rem;
        padding: 0;
    }
}


/* iPhone 6, 7, 8, 11 */
@media(max-width: 414px){ 

    .contact {
        height: 70rem;
    }
    .contact-title {
        margin-left: 4rem;
        font-size: 5rem;
    }

    .contact-item {
        margin-bottom: 20px;
    }
}
