@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.landing-bg {
    overflow: hidden;
    background: url('../assets/IMG_0376.JPG') center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
}

.name-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 40vh;
    font-family: 'Playfair Display', serif;
    font-size: 12rem;
    color: rgb(246, 80, 8);

}  

.occupation-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 82vh;
    font-family: 'Playfair Display', serif;
    font-size: 2.5rem;
    color: rgb(246, 80, 8);
}