.pet-pals {
    background-color: var(--main-orange);
}

.pet-pals-title {
    color: var(--main-white);
    font-size: 7rem;
}

.pet-pals-section-link {
    color: var(--main-white);
}

.pet-pals-section-link:hover {
    color: var(--main-blue);
}

.pet-pals-about-section {
    color: var(--main-white);
}

.pet-pals-section-btn {
    background-color: var(--main-orange);
    border: solid var(--main-white) 1px;
    color: var(--main-white);
    transition: background-color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
}

.pet-pals-section-btn:hover {
    color: var(--main-white);
    background-color: var(--main-blue);
    border: solid var(--main-blue) 1px;
}

