.skills {
    background-color: var(--main-orange);
    height: 100vh;
}

.skills-title {
    font-size: 7rem;
    color: var(--main-white);
    font-family: var(--main-heading-font);
    margin-left: 7rem;
}

.skills-layout {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: space-evenly;
    margin-top: 9rem;  
}

.skill-item {
   color: var(--main-white);
   background-color: var(--main-pink);
   font-family: var(--main-text-font);
   font-weight: bold;
   text-align: center;
   min-width: 110px;
   min-height: 110px;
   padding: 25px;
   border-radius: 50%;
   box-shadow: 0 1px 2px rgba(0,0,0,0.15);
   transition: box-shadow 0.5s ease-in-out;
}

.skill-item:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.5);
}

.skill-link {
    text-decoration: none;
}

/* iPad Pro */
@media(max-width: 1024px) {
    .skills {
        height: 60vh;
    }

    .skills-layout {
        padding-left: 0;
    }  
}

/* iPad */
@media(max-width: 768px) {
    .skills-title {
        margin-left: 15rem;
    }
    .skills-layout {
        margin-top: 2rem;
    }
}