.space-visualizer {
    background-color: var(--main-blue);
}

.space-title {
    color: var(--main-white);
    font-size: 7rem;
}

.space-section-link {
    color: var(--main-white);
}

.space-section-link:hover {
    color: var(--main-pink);
}

.space-about-section {
    color: var(--main-white);
}

.space-section-btn {
    background-color: var(--main-blue);
    border: solid var(--main-white) 1px;
    color: var(--main-white);
    transition: background-color 0.5s ease-in-out;
    transition: border 0.5s ease-in-out;
}

.space-section-btn:hover {
    color: var(--main-white);
    background-color: var(--main-pink);
    border: solid var(--main-pink) 1px;
}

@media(max-width: 1280px) {
    .space-title {
        margin-top: 1.3rem;
        font-size: 5rem;
    }
}

/* iPad */
@media(max-width: 768px) {
    .space-title {
        font-size: 3.5rem;
    }
}

/* iPhone 6, 7, 8, 11 */
@media(max-width: 414px){
    .space-title {
        font-size: 2rem;
        margin-top: 2.5rem;
    }
}

